html, body {
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("images/mobile-background.png") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.logo-container {
  width: 40vw;
  height: 45vw;
  margin: 2vh 0;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.welcome-text {
  width: 80vw;
}

.text {
  font-family: 'baskerville old face';
  font-size: 1.5em;
  text-align: center;
  color: #0b3f0b;
  margin: 0;
}

.input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 3vh 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-container input {
  width: 50vw;
  height: 5vh;
  border-radius: 25px;
}

input::-webkit-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  padding-right: 5vw;
}

input:-ms-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  padding-right: 5vw;
}

input::-ms-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  padding-right: 5vw;
}

input::placeholder {
  text-align: center;
  color: #a3a3a3;
  padding-right: 5vw;
}

input {
  text-align: center;
  padding-right: 5vw;
}

.button-recipe {
  width: 5vw;
  height: 4vh;
  margin-left: -10vw;
  border-style: hidden hidden hidden solid;
  background-color: transparent;
  padding-bottom: 5vh;
}

.button-recipe svg {
  width: 5vw;
  height: 5vh;
}

.popular-item {
  width: 60vw;
  height: 30vh;
  border-radius: 5px;
  margin: 2vh 0;
}

.popular-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.third-popular-item-container, .fourth-popular-item-container {
  display: none;
}

.results-container {
  width: 70vw;
  margin: 2vh 0;
  padding: 0;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.result-image-container {
  width: 70vw;
  height: 30vh;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.result-recipe-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 2vh 2vw;
  background-color: #71b871;
  width: 70vw;
  height: 20vh;
  border-radius: 0 0 10px 10px;
}

.result-recipe-text {
  text-align: left;
  color: white;
  font-family: 'verdana';
  font-size: 1em;
}

.result-recipe-text:first-of-type {
  font-size: 1.5em;
  margin-bottom: 1vh;
}

.new-recipe-container {
  width: 70vw;
  height: 50vh;
  margin: 2vh 0;
  padding: 0;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.new-recipe-image {
  width: 70vw;
  height: 30vh;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-recipe-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.new-recipe-text-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 2vh 2vw;
  background-color: #71b871;
  width: 70vw;
  height: 20vh;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.new-recipe-title {
  text-align: left;
  color: white;
  font-family: 'verdana';
  font-size: 1em;
  margin-top: 0;
  width: 60vw;
}

.new-recipe-text {
  text-align: left;
  color: white;
  font-family: 'verdana';
  font-size: 0.8em;
  width: 70vw;
  padding: 1vh 2vw;
}

.new-recipe-hidden {
  display: none;
}

.overlay {
  position: absolute;
  width: 85vw;
  min-height: 85vh;
  margin-top: 5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 3vw;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}

.body-scroll-hide {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

.close-button-container {
  width: 6vw;
  height: 6vw;
  position: fixed;
  left: 88%;
  top: 1%;
}

.recipe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-title-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 60vw;
}

.recipe-title {
  font-size: 1.2em;
}

.recipe-photo-container {
  width: 45vw;
  height: 20vh;
  background-color: pink;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.recipe-photo-container img {
  width: 100%;
  height: 100%;
  background-color: pink;
  border-radius: 10px;
}

.ingredients-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70vw;
  min-height: 30vh;
  background-color: transparent;
  color: #0b3f0b;
  margin-bottom: 2vh;
  border: solid 2px;
  border-radius: 10px;
  padding: 2vh 4vw;
}

.ingredients-title, .preparation-title, .ingredients-quantity, .ingredients-unit, .ingredients-name, .new-ingredient {
  text-align: left;
  color: #0b3f0b;
}

.ingredients-title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 2vh;
}

.instruction-text {
  color: #0b3f0b;
  margin: 0;
}

.preparation-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 30vh;
  background-color: transparent;
  color: #0b3f0b;
  width: 70vw;
  margin-bottom: 2vh;
  border: solid 2px;
  border-radius: 10px;
  padding: 2vh 4vw;
  overflow-y: scroll;
}

.preparation-title {
  font-size: 1.2em;
  margin-bottom: 2vh;
}

.loading-svg-container {
  width: 40vw;
  height: 20vh;
}

.loading-svg-container img {
  width: 100%;
  height: 100%;
}

.copyright-text {
  font-size: 1em;
  text-align: center;
  color: #0c1806;
}
/*# sourceMappingURL=styles.css.map */