@font-face {
  font-family: Sarala;
  src: url("fonts/Sarala-Regular.ttf");
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 88vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("images/mobile-background.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.gray-background {
  background: #cbcccb;
}

.body-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.logo-container {
  width: 40vw;
  height: 45vw;
  margin: 2vh 0;
}

.logo-container img {
  width: 100%;
  height: 100%;
}

.welcome-text, .no-result-message {
  margin: 5vh 0;
  width: 80vw;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 1.7em;
  color: #0b3f0b;
}

.input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 3vh 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-container input {
  width: 60vw;
  height: 5vh;
  border-radius: 25px;
}

input::-webkit-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  font-size: 1em;
  padding-right: 4vw;
}

input:-ms-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  font-size: 1em;
  padding-right: 4vw;
}

input::-ms-input-placeholder {
  text-align: center;
  color: #a3a3a3;
  font-size: 1em;
  padding-right: 4vw;
}

input::placeholder {
  text-align: center;
  color: #a3a3a3;
  font-size: 1em;
  padding-right: 4vw;
}

input {
  text-align: center;
  padding-right: 5vw;
}

.button-recipe {
  width: 5vw;
  height: 4vh;
  margin-left: -10vw;
  border-style: hidden hidden hidden solid;
  background-color: transparent;
  padding-bottom: 5vh;
}

.button-recipe svg {
  width: 5vw;
  height: 5vh;
}

.input-message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-result-message {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2vh 4vw;
  display: block;
}

.new-recipe-container {
  width: 80vw;
  height: 55vh;
  margin: 3vh 0;
  padding: 0;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.new-recipe-image {
  width: 80vw;
  height: 30vh;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-recipe-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.new-recipe-text-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 2vh 4vw;
  background-color: #417a41;
  width: 80vw;
  height: 25vh;
  margin: 0;
  border-radius: 0 0 10px 10px;
  font-family: 'Verdana';
  color: white;
  text-align: left;
  overflow: hidden;
}

.new-recipe-title {
  font-size: 1.1em;
  width: 70vw;
  margin: 0;
  padding: 0.5vh 1vw;
  padding-top: 0;
  font-weight: 700;
  font-family: 'Sarala';
}

.new-recipe-text, .new-recipe-text-description {
  font-family: "Sarala";
  text-align: left;
  font-size: 0.8em;
  width: 70vw;
  padding: 1vh 1vw;
  margin: 0;
}

.new-recipe-text-description {
  max-height: 7vh;
  overflow: hidden;
}

.new-recipe-hidden {
  display: none;
}

.overlay {
  position: absolute;
  width: 85vw;
  min-height: 85vh;
  margin-top: 5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 3vw;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
}

.body-scroll-hide {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

.close-button-container {
  width: 6vw;
  height: 6vw;
  position: fixed;
  left: 88%;
  top: 2%;
}

.recipe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0b3f0b;
}

.recipe-title-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 60vw;
}

.recipe-title {
  font-size: 1.5em;
  text-align: center;
  font-family: 'Times New Roman';
  font-weight: 700;
  margin: 0;
}

.recipe-photo-container {
  width: 60vw;
  height: 25vh;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.recipe-photo-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ingredients-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70vw;
  min-height: 30vh;
  background-color: transparent;
  margin-bottom: 2vh;
  border: solid 2px;
  border-radius: 10px;
  padding: 2vh 4vw;
}

.ingredients-title, .preparation-title {
  text-align: left;
  font-family: 'Times New Roman';
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2vh;
}

.preparation-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 30vh;
  background-color: transparent;
  width: 70vw;
  margin-bottom: 2vh;
  border: solid 2px;
  border-radius: 10px;
  padding: 2vh 4vw;
}

.instruction-text, .ingredients-quantity, .ingredients-unit, .ingredients-name, .new-ingredient {
  font-family: 'Sarala';
  font-size: 0.9em;
  margin: 0;
}

.loading-svg-container {
  width: 40vw;
  height: 20vh;
}

.loading-svg-container img {
  width: 100%;
  height: 100%;
}

.footer-container {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-svg {
  width: 8vw;
  padding: 5vw;
}

@media all and (min-width: 500px) {
  body {
    background-position: 0 75%;
  }
  .logo-container {
    width: 28vw;
    height: 30vw;
  }
  .welcome-text, .no-result-message {
    width: 50vw;
  }
  .input-container {
    width: 50vw;
  }
  input::-webkit-input-placeholder {
    font-size: 0.8em;
  }
  input:-ms-input-placeholder {
    font-size: 0.8em;
  }
  input::-ms-input-placeholder {
    font-size: 0.8em;
  }
  input::placeholder {
    font-size: 0.8em;
  }
  input {
    font-size: 1.2em;
  }
  .button-recipe svg {
    width: 4vw;
    height: 4vh;
    margin-top: 0.5vh;
    margin-left: 1.5vw;
  }
  .new-recipe-container {
    width: 60vw;
    font-size: 130%;
  }
  .new-recipe-image {
    width: 60vw;
  }
  .new-recipe-text-container {
    width: 60vw;
  }
  .new-recipe-title, .new-recipe-text, .new-recipe-text-description {
    width: 50vw;
  }
  .recipe-container {
    font-size: 130%;
  }
  .recipe-photo-container {
    width: 40vw;
  }
  .footer-svg {
    width: 6vw;
    padding: 4vw;
  }
}

@media all and (min-width: 768px) {
  .logo-container {
    width: 25vw;
    height: 27vw;
  }
  input::-webkit-input-placeholder {
    padding-right: 1vw;
  }
  input:-ms-input-placeholder {
    padding-right: 1vw;
  }
  input::-ms-input-placeholder {
    padding-right: 1vw;
  }
  input::placeholder {
    padding-right: 1vw;
  }
}

@media all and (min-width: 1024px) {
  .body-wrapper {
    background: url(images/background.jpg);
    background-position: center;
    background-size: cover;
  }
  .logo-container {
    width: 15vw;
    height: 17vw;
  }
  .welcome-text {
    width: 40vw;
  }
  .input-container {
    width: 35vw;
  }
  input {
    padding-left: 3vw;
  }
  input::-webkit-input-placeholder {
    padding-right: 0vw;
    padding-left: 1vw;
  }
  input:-ms-input-placeholder {
    padding-right: 0vw;
    padding-left: 1vw;
  }
  input::-ms-input-placeholder {
    padding-right: 0vw;
    padding-left: 1vw;
  }
  input::placeholder {
    padding-right: 0vw;
    padding-left: 1vw;
  }
  .button-recipe {
    margin-left: -5vw;
  }
  .button-recipe svg {
    margin-left: 0;
  }
  .results-container {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .new-recipe-container {
    width: 20vw;
  }
  .new-recipe-image {
    width: 20vw;
  }
  .new-recipe-text-container {
    width: 20vw;
    padding: 2vh 1vw;
  }
  .overlay {
    width: 60vw;
  }
  .new-recipe-title, .new-recipe-text, .new-recipe-text-description {
    width: 100%;
  }
  .close-button-container {
    width: 3vw;
    height: 3vw;
    position: fixed;
    left: 95%;
    top: 2%;
  }
  .recipe-photo-container {
    width: 30vh;
  }
  .ingredients-container, .preparation-container {
    width: 40vw;
  }
  .footer-svg {
    width: 3vw;
    padding: 2vw;
  }
}
/*# sourceMappingURL=styles.css.map */